{% load static %}
<div>
    <h1 class="marksheet-head d-flex align-items-center justify-content-center mb-5"> 
        My Marksheets
        <img class="mx-2"  src="{% static 'img/marksheet.jpg' %}" alt="">  
    </h1>

    <div class="marksheet-container">

        {% for marksheet in marksheet_summary %}
            <div class="marksheet d-flex gap-4">
                <div class="sno d-flex justify-content-center align-items-center">
                    <h1> {{ forloop.counter }} <h1>
                </div>
                <div class="wrapper-btns-content d-flex flex-column justify-content-between flex-grow-1 gap-3">

                    <div class="marksheet-content">
                        <h2 class="marksheet-title mb-3 pb-0"> {{ marksheet.marksheet.name }} </h2>
                        <p class="mb-0"> Best - {{ marksheet.highest }}  </p>
                        <p class="mb-3"> Average - {{ marksheet.avg }}  </p>
                        <span>
                            Created At: {{ marksheet.marksheet.timeStamp|date:"M d , Y" }}
                        </span>
                    </div>
                    
                    <div class="marksheet-btn-box d-flex  gap-3">
                        <div>
                            <a class="btn btn-primary" href="{% url 'updateMarksheet' marksheet.marksheet.id %}"><i class="fas fa-pencil-alt mx-3"></i></a>
                        </div>
                        <div>
                            <a class="btn btn-primary" href="{% url 'deleteMarksheet' marksheet.marksheet.id %}"> <i class="far mx-3 fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

</div>

{% block js %}
    <script src="{% static 'js/marksheet.js' %}"></script>
{% endblock js %}